<p>
  game-home works!
</p>
<div class="card" style="width: 19rem;">
  <img
    alt="Angular Logo"
    src="../assets/img/hgi.png"
  />
  <div class="card-body">
    <h5 class="card-title">Indicaciones del Juego</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a routerLink="/game/newgame" class="btn btn-primary">Crear Juego</a>
  </div>
  <a routerLink="/game/games" type="button" class="btn btn-primary">Ver Juegos Creados</a>
</div>
