<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="100"
    alt="Angular Logo"
    src="../assets/img/iconHG.png"
  />
  <ng-container  *ngIf ="isBtnLogoutVisibility$ |async">
    <a class="a-logout"   routerLink="/game/home" >Home</a>
  </ng-container>
  <div class="spacer"></div>
  <ng-container  *ngIf ="isBtnLogoutVisibility$ |async">
    <a class="a-logout"   routerLink="/game/games" >Lista de juegos</a>
  </ng-container>

    <div class="spacer"></div>
    <ng-container  *ngIf ="isBtnLogoutVisibility$ |async">
      <a class="a-logout"   href="" (click)="hLogOut()">Cerrar sesion</a>
    </ng-container>


</div>




