.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  /* background-color: #1976d2; */
  background-color: #ae1e29;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}
.a-logout{
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-decoration: none;
}
.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}
