<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="100"
    alt="Angular Logo"
    src="../assets/img/iconHG.png"
  />
    <div class="spacer"></div>
    <ng-container  *ngIf ="isBtnLogoutVisibility$ |async">
      <a class="a-logout"   href="" (click)="hLogOut()">Cerrar sesion</a>
    </ng-container>
    <!-- <a class="a-login" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Acceder con Google">
      Login
      <img
        width="34"
        alt="goLogo"
        src="../assets/img/goLogo.png"
      />
      </a> -->
    </div>

<p>
  header works!
</p>
