<h1 class="title-list">Lista de Juegos</h1>


<ul class="list-group">
  <li class="list-group-item">
    <span>Nombre Del Juego:Tpsdo</span><br>
    <span>Estado del Juego: Iniciado</span><br>
    <span>Cantidad de Jugadores: 5</span><br>
    <a href="game/games/board" class="btn btn-primary">Entar</a>
  </li>


  <li class="list-group-item">
    <span>Nombre Del Juego:Portde</span><br>
    <span>Estado del Juego: Creado</span><br>
    <span>Cantidad de Jugadores: 8</span><br>
    <a href="game/games/board" class="btn btn-primary">Entar</a>
  </li>
  <li class="list-group-item">
    <span>Nombre Del Juego:OceansDdad</span><br>
    <span>Estado del Juego: Creado</span><br>
    <span>Cantidad de Jugadores: 4</span><br>
    <a href="game/games/board" class="btn btn-primary">Entar</a>
  </li>
</ul>
