#frmJugadores{
  position: relative;
  margin-top: 100px;
  top: 50%;
  left: 30%;

}
.h2-title{
  position: relative;
  margin-top: 100px;
  top: 50%;
  left: 30%;
}
.btn{
  position: relative;
  margin-top: 100px;
  top: 50%;
  left: 30%;
}
