
<div class="wrapper">
  <div class="header-board"><span>Ronda: 1</span><br>
    <span>Jugadores: 1</span>
    <h3>Tiempo: 50</h3>
    <a routerLink="/" class="btn btn-primary" aria-disabled="true">Iniciar</a>
  </div>
  <div class="bet-table">
    <h4>Tablero de apuestas</h4>
    <br>
    <div>
      <img
      class="img-table"
      alt="Angular Logo"
      src="../assets/img/0BF.jpg"
      />

    </div>
    <div>
      <img
      class="img-table"
      alt="Angular Logo"
      src="../assets/img/7EB.jpg"
      />
    </div>

  </div>
  <div class="gamer-cards">
    <h4>Mazo jugador</h4>
    <div class="card">
      <div class="card-img">
        <img
        class="img-mazo"
        alt="carta"
        src="../assets/img/7EB.jpg"
        />
      </div>
      <div class="card-info">
        <p class="text-title">Poder:2300</p>
        <!-- <p class="text-body">Nombre:CARD.PNG</p> -->
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img
        class="img-mazo"
        alt="carta"
        src="../assets/img/2E2.jpg"
        />
      </div>
      <div class="card-info">
        <p class="text-title">Poder:2300</p>
        <!-- <p class="text-body">Nombre:CARD.PNG</p> -->
      </div>
    </div>
  <div class="card">
    <div class="card-img">
      <img
      class="img-mazo"
      alt="carta"
      src="../assets/img/99A.jpg"
      />
    </div>
    <div class="card-info">
      <p class="text-title">Poder:2300</p>
      <!-- <p class="text-body">Nombre:CARD.PNG</p> -->
    </div>
  </div>
</div>







